/*.texto{
    color: red;
    background-color: orange;
}

.texto2{
    color: blue;
    background-color: gray;
}*/

/************* Navegação com abas **********/
/*
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li {
    float: left;
    background: url('imgs/aba-direita.png') no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url('imgs/aba-esquerda.png') no-repeat top left;
    color: #fff;
}

ul a:hover {
    color: #894a1f;
}

ul #atual {
    background: url('imgs/aba-direita-atual.png') no-repeat top right;
}

ul #atual a {
    background: url('imgs/aba-esquerda-atual.png') no-repeat top left;
}*/


/****** Layout de largura fixa ************/
/*
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca {
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 520px;
    float: right;
}

#conteudo-principal {
    width: 320px;
    float: left;
}

#conteudo-secundario {
    width: 180px;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,#conteudo-secundario h2,#conteudo-secundario h3,#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 180px;
    float: left;
    padding-top:20px;
    padding-bottom:20px;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/

/****** Layout e imagem de largura liquida ************/
/*
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 1280px;
}

#marca {
    width: 100%;
    height: 300px;
    background: #225292 url('imgs/cabecalho2.jpg') no-repeat center;
    text-align: center;
    line-height: 300px;
}
/*
#imagem {
    width: 90%;
    overflow: hidden;
}*/
/*
#conteudo {
    width: 75%;
    float: right;
}

#conteudo-principal {
    width: 63%;
    float: left;
}

img.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,#conteudo-secundario h2,#conteudo-secundario h3,#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 25%;
    float: left;
    padding-top:20px;
    padding-bottom:20px;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/

/****** Layout e imagem de largura fixa | Coluna falsa ************/
/*body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 960px;
    margin: 0 auto;
    background: #fff url('imgs/coluna.png') repeat-y left top;
    min-width: 720px;
    max-width: 1280px;
}

#marca {
    width: 100%;
    height: 300px;
    background: #225292 url('imgs/cabecalho2.jpg') no-repeat center;
    text-align: center;
    line-height: 300px;
}

#conteudo {
    width: 75%;
    float: right;
}

#conteudo-principal {
    width: 63%;
    float: left;
}

img.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%;
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,#conteudo-secundario h2,#conteudo-secundario h3,#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 25%;
    float: left;
    padding-top:20px;
    padding-bottom:20px;
    /*background: #d1d1d1;*/
/*}
#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}*/

/****** Estilizando tabelas ***********/
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: separate;
}

th, td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr.alterado {
    background-color: #efefef;
}

.numero {
    text-align: right;
}

tr:hover {
    background-color: #c3e6e5;
}